extends layout

block content
  h1 Nuestros Servicios!!
  section.css-table
    section.two-column
      section.cell
        h2 servicio 01
        p Brindamos servicios de calidad 01
       
      section.cell
        h2 servicio 02
        p Brindamos servicios de calidad 02
       
  section.css-table
    section.three-column
      section.cell
        h3 Servicio 03
        p Brindamos servicios de calidad 03
      section.cell
        h3 Servicio 04
        p Brindamos servicios de calidad 04
      section.cell
        h3 Servicio 05
        p Brindamos servicios de calidad 05
