extends layout

block content
  h1 Catalago de nuestro clientes
  section.css-table
    section.two-column
      section.cell
        h2 Cliente pablito
        p Brindamos servicios de calidad 01
       
      section.cell
        h2 Cliente dorotencio
        p Brindamos servicios de calidad 02
       
  section.css-table
    section.three-column
      section.cell
        h3 Cliente Picapiedra
        p Brindamos servicios de calidad 03
      section.cell
        h3 Cliente max
        p Brindamos servicios de calidad 04
      section.cell
        h3 Coliente Jhonatan
        p Brindamos servicios de calidad 05
