extends layout
 
block content
  h1 Contactenos!!!
  section.css-table
    section.two-column
      section.cell
        h2 Ingrese sus datos.
        div
          table
            tr
              td
                |email:
              td
                input(id='email',type='text',value='',name='email')  
            tr
              td
                |nombre:
              td
                input(id='nombre',type='text',value='',name='nombre')
            tr
              td
                |asunto:
              td
                input(id='asunto',type='text',value='',name='asunto')
            tr
              td
                |mensaje
              td
                textarea(id='mensaje',name='mensaje', rows:50)
            tr
              td
                input(type="submit", value="Enviar", name='enviar')
       
