doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            p ACME
          li 
          li 
            a(href="/") Inicio
          li 
          li 
            a(href="/nosotros") Nosotros
          li 
          li 
            a(href="/catalogo") Catalogo de Cliente
          li 
            a(href="/about") Nuestros Servisios
          li 
            a(href="/contact") Contacto
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p MI PRIMERA PAGINA WEB EN NODE <br />XDXD<br />CRISTISTIAN
              section.cell
                p MI PRIMERA PAGINA WEB EN NODE <br />XDXD<br />CRISTISTIAN
              section.cell
                p MI PRIMERA PAGINA WEB EN NODE <br />XDXD<br />CRISTISTIAN
              section.cell
                p MI PRIMERA PAGINA WEB EN NODE <br />XDXD<br />CRISTISTIAN
         