extends layout

block content
  h1 NOSOTROS!!!
  section.css-table
    section.two-column
      section.cell
        h1 QUIENES SOMOS???
      section.cell
       
        h2 Programador en nodejs juancito
        p ESPECIALISTAS 
       
      section.cell
        h2 Programador en nodejs pablito
        p subjerente
       
  section.css-table
    section.three-column
      section.cell
        h3 Programador en nodejs, scc, js, html Pedrito
        p Soporte tecnico.
      section.cell
        h3 Programador en node js pancracio
        p Apoyo tecnico
      section.cell
        h3 Programador en nodejs cristifercito
        p Mantenimiento.
